.unsplash {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 10px 5px 10px black;
  padding-top: 10px;
  background-color: rgb(140, 211, 108);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  flex-wrap: wrap;
}

.unsplash input {
  width: 250px;
  border: thin black solid;
  border-radius: 10px;
}

.unsplash button {
  background-color: rgb(48, 223, 77);
}

body {
  background-color: rgb(115, 230, 144);
}

.myImages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items {
  width: auto;
  height: auto;
}
